/* stylelint-disable no-descending-specificity*/
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

.RadiationHeader {
    display: inline-block;
}

.RadiationHeader__row {
    display: flex;
    justify-content: space-between;
}

.RadiationHeader__char {
    width: 3em;
    line-height: 1.8;
    text-align: center;
    transition: all 1200ms $easeOutExpo;
}

.RadiationHeader__row:nth-child(2n) {
    .RadiationHeader__char:nth-child(2n) {
        transition-delay: 100ms;
    }
}

.RadiationHeader__row:nth-child(2n-1) {
    .RadiationHeader__char:nth-child(2n) {
        transition-delay: 50ms;
    }

    .RadiationHeader__char:nth-child(2n-1) {
        transition-delay: 150ms;
    }
}

.-visually-hidden {
    .RadiationHeader__row:first-child {
        .RadiationHeader__char:nth-child(1) {
            transform: translate3d(-12%, -20%, 0);
        }

        .RadiationHeader__char:nth-child(2) {
            transform: translate3d(-6%, -20%, 0);
        }

        .RadiationHeader__char:nth-child(3) {
            transform: translate3d(0, -20%, 0);
        }

        .RadiationHeader__char:nth-child(4) {
            transform: translate3d(6%, -20%, 0);
        }

        .RadiationHeader__char:nth-child(5) {
            transform: translate3d(12%, -20%, 0);
        }
    }

    .RadiationHeader__row:nth-child(2) {
        .RadiationHeader__char:nth-child(1) {
            transform: translate3d(-12%, 20%, 0);
        }

        .RadiationHeader__char:nth-child(2) {
            transform: translate3d(-6%, 20%, 0);
        }

        .RadiationHeader__char:nth-child(3) {
            transform: translate3d(0, 20%, 0);
        }

        .RadiationHeader__char:nth-child(4) {
            transform: translate3d(6%, 20%, 0);
        }

        .RadiationHeader__char:nth-child(5) {
            transform: translate3d(12%, 20%, 0);
        }
    }

    .RadiationHeader__char {
        opacity: 0;
    }
}
